#root{
  max-width: 1280px;
  /* margin: 0; */
  margin: auto;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items:center ;
  justify-content: center;
  /* background-color: red; */
}

body{
  background-color: grey;
  /* background-color: red; */
  margin: 0;
  padding: 0;
  /* display: flex;
  align-items:center ;
  justify-content: center; */
}

button{
  /* margin-top: 100px; */
  padding: 10px;
  font-size: 33px;
  border-radius: 15px;
  border-width: 8px;
  font-family: 'Goldman', cursive;
}
button:hover{
  color: red;
  /* color: white; */
  background-color: darkred;
  cursor: pointer;
  transition: 300ms;
  transform: scale(1.1);

}

li{
  margin-top: 5px;
  list-style: none;
  background-color: darkred;
  font-family: 'Oxanium', cursive;
  text-align: center;
  color: white;
  margin-right: 7%;
  justify-content: center;
}
h1{
  font-family: 'Oxanium', cursive;
  font-size: 75px;
}
/* .app{
  position: relative;
} */
/* .green{
  color: green;
} */
.container{
  /* position: relative; */
  /* display: grid; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

@media screen and (max-width:550px) {
  h1{
    font-size: 60px;
  }
  button{
    font-size: 25px;
  }
  li{
    font-size: 25px;
  }
  .container{
    height: 50px;
  }
}

@media screen and (max-width:450px) {
  h1{
    font-size: 50px;
  }
  button{
    font-size: 20px;
  }
  li{
    font-size: 20px;
  }
  .container{
    height: 40px;
  }
}