#root{
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  display: flex;
  /* align-items:center ; */
  justify-content: center;
}

body{
  background-color: grey;
}

button{
  /* margin-top: 100px; */
  padding: 10px;
  font-size: 30px;
  border-radius: 15px;
  border-width: 8px;
  border-color: blue;
}
li{
  list-style: none;

}
/* .green{
  color: green;
} */
.container{
  /* position: relative; */
  /* display: grid; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
}