#root{
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items:center ;
  justify-content: center;
}

body{
  background-color: grey;
}

button{
  /* margin-top: 100px; */
  padding: 10px;
  font-size: 33px;
  border-radius: 15px;
  border-width: 8px;
  font-family: 'Goldman', cursive;
}
button:hover{
  color: red;
  /* color: white; */
  background-color: darkred;
  cursor: pointer;
  transition: 300ms;
  transform: scale(1.1);

}

li{
  margin-top: 5px;
  list-style: none;
  background-color: darkred;
  font-family: 'Oxanium', cursive;
  text-align: center;
  color: white;
  margin-right: 7%;
  justify-content: center;
}
h1{
  font-family: 'Oxanium', cursive;
}
/* .app{
  position: relative;
} */
/* .green{
  color: green;
} */
.container{
  /* position: relative; */
  /* display: grid; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
}