#root{
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  padding-bottom: 0;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items:center ;
  justify-content: center;
  /* background-color: red; */
}

body{
  background-color: grey;
  /* background-color: red; */
  margin: 0;
  padding: 0;
}

button{
  /* margin-top: 100px; */
  width: 150px;
  padding: 10px;
  font-size: 33px;
  border-radius: 15px;
  border-width: 8px;
  font-family: 'Goldman', cursive;
  background-color: white;
}
button:hover{
  color: red;
  /* color: white; */
  background-color: darkred;
  cursor: pointer;
  transition: 300ms;
  transform: scale(1.1);

}

li{
  margin-top: 5px;
  list-style: none;
  /* background-color: darkred; */
  font-family: 'Oxanium', cursive;
  text-align: center;
  color: white;
  margin-right: 7%;
  justify-content: center;
}
h1{
  font-family: 'Oxanium', cursive;
  font-size: 75px;
}
a{
  color: white;
}
a:hover{
  color: red;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
.black{
  background-color: black;
}
.darkred{
  background-color: darkred;
}
.container{
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-evenly;
  height: 100px;
}

.credits{
  margin-top: 340px;
  /* margin-right: 200px; */
  font-family: 'Play', sans-serif;
  font-size: 20px;
  color: white;
  background-color: black;
  position: sticky;
  bottom: 2px;
}

@media screen and (max-width:550px) {
  h1{
    font-size: 60px;
  }
  button{
    width: 110px;
    font-size: 25px;
  }
  li{
    font-size: 25px;
  }
  .container{
    height: 50px;
  }
  .credits{
    margin-top: 476px;
  }
}

@media screen and (max-width:450px) {
  h1{
    font-size: 45px;
  }
  button{
    width: 100px;
    font-size: 20px;
  }
  li{
    font-size: 20px;
  }
  .container{
    height: 40px;
  }
  .credits{
    margin-top: 515px;
    font-size: 18px;
  }
}